# Environment variables (Sensitive info)
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version

# uv / Virtual Environments
.venv/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
